.create_room_box {
  display: grid;
  grid-row: 4 / 8;
  grid-column: 5 / 9;
  box-shadow: 0 4px 20px 0 rgba(0, 58, 97, 0.15);
  border-radius: 35px;
  padding: 30px 70px;
  background-color: white;
  justify-content: center;
  align-content: center;
}
.create_room_box > form {
  display: grid;
  justify-content: center;
  align-content: center;
}
.form-body {
  display: grid;
}
.form-header {
  justify-self: center;
}
