#root {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.add-movie {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 13;
  align-items: center;
  justify-content: center;
  background-image: url("https://res.cloudinary.com/dn5jmkxbb/image/upload/v1607369604/wave_bg_cynjl1.png");
  background-size: cover;
}

.add-movie img {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 11;
  height: 91.6vh;
  width: 60vw;
}
