.library {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 2 /13;
  align-items: center;
  background-color: #005e9c;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.library::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.library :first-child {
  margin: 4px 2px 2px 0px;
}

@media only screen and (max-width: 750px) {
  .library {
    display: none;
  }
}
