.copylink {
  display: flex;
  flex-direction: row;
  grid-row: 9 / 10;
  grid-column: 9 / 11;
  justify-content: center;
  align-items: center;
  line-break: anywhere;
  width: 100%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 58, 97, 0.15);
  color: gray;
  padding: 5px;
  font-size: 13px;
  height: 70%;
}
.copy-button {
  display: grid;
  background-color: rgb(218, 218, 218);
  justify-items: center;
  align-items: center;
  height: 60%;
  width: 25%;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 58, 97, 0.15);
  color: black;
  margin: 5px;
}
