.player {
  grid-row: 2 / 8;
  grid-column: 2 / 9;
  width: 110%;
  height: 80%;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 58, 97, 0.15);
}

.player:focus {
  outline: none;
}
